body {
  background-color: rgb(25, 25, 25);
  color: rgba(187,134,252, 200);
}


/*  The grid. */
.grid-container {
  height: 98vh;
  display: grid;
  grid-template-areas:
  'header header'
  'header2 header2'
  'menu title'
  'menu featured'
  'menu results'
  'menuChoice results'
  'footer footer';
  grid-gap: 0px;
  padding: 2px;
  grid-template-rows: 6% 5% 5% 25% 50% 5% 4%;
  grid-template-columns: 20% 80%;
}

.grid-cart {
  height: 98vh;
  width: 95vw;
  display: grid;
  grid-template-areas:
  'cheader cheader'
  'cart1 cart2'
  'cfooter cfooter';
  grid-gap: 2px;
  padding: 2px;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-columns: 50vw 50vw;
}


/* Specific areas in the grid.*/
/* Logo and Search.*/
.topHeader {
  background-color: rgb(15, 15, 15);
  grid-area: header;
  vertical-align: center;
}

.title {
  grid-area: title;
  background-color: rgb(35, 35, 35);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color:white;
}

/* Category buttons.*/
.bottomHeader {
  grid-area: header2;
  background-color: rgb(15, 15, 15);
}

/* Reviews on the left side.*/
.socialMenu {
  grid-area: menu;
}

/* Main featured review. */
.featuredReview {
  background-color: rgb(35, 35, 35);
  grid-area: featured;
}

/* Search results and fooditems.*/
.results {
  grid-area: results;
}

/* Contact Us.*/
.footer {
  grid-area: footer;
}

/* Trending vs Friends Button.*/
.menuChoice {
  grid-area: menuChoice;
}

/* The Entire Grid.*/
.grid-container > div {
  text-align: center;
  padding: 0 0;
  font-size: 30px;
}


/* The next CSS code is for elements top down from the page*/
/* TOP HEADER CSS.*/
/* Sign Up and Log In.*/
.headerButton {
  display: inline-block;
  border: none;
  background-color: #03DAC5;
  font-size:22px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
  vertical-align: center;
}

/* Logo Icon.*/
#logo{
  display: inline-block;
  padding-top: 6px;
  height:auto;
  width:300px; /* use this to center */
  left: 20%;
  margin-left: calc(40% - 150px);
  text-align:center;
  top:0%;
  position: absolute;
}

/* Search related functions.*/
#searchInput{
  width: 1px;
  height: 24px;
  border-radius: 15px;
  animation-name:searchOpen;
  animation-duration:0.25s;
  float: right;
  position: relative;
  top: -23px;
  animation-timing-function: ease-out;

}

#searchBar{
  margin-top:9px;
  vertical-align: text-bottom;
  background-color:#03DAC5;
  width: 35px;
  height: 40px;
  border-radius: 10px;
  float: right;
  margin-right: 20px;
  transition: width 0.25s;
  background-image: url("searchIcon.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  font-size: 20px;
  border-style:solid;
  border-color: black;
}


#searchBar:hover{
  background-color:rgb(45, 45, 45);
}

#searchBar:focus{
  width: 300px;
  float: top;
  transition: width 0.25s;
  padding-left: 40px;
  background-color:#03DAC5;

}

@keyframes searchOpen{
  from{width:1px;}
  to{width:300px;}
}

@keyframes searchClose{
  from{width:300px;}
  to{width:1px;}
}

#checkoutButton{
  display: inline-block;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  vertical-align: center;
}

#checkoutDropDown{
  width: 270px;
  height: 500px;
  float: right;
  background-color: rgb(35, 35, 35);
  position: absolute;
  right: 10px;
  top: 90px;
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 3px;
  animation-name: checkoutOpen;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  z-index: 10;
}

#proceedCheckout{
  width: 250px;
  height: 75px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  left: 10px;
  color: black;
  background-color: #03DAC5;
  font-size: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 15px;
  animation-name: proceedOpen;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  z-index: 10;
}

.checkoutItem{
  text-align: left;
  padding-left: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes checkoutOpen{
  from{height:1px; opacity: 0%;}
  to{height:500px; opacity: 100%;}
}

@keyframes proceedOpen{
  from{height:1px; font-size: 1px; opacity: 0%;}
  to{height:75px; font-size: 20px; opacity: 100%;}
}

@keyframes checkoutClose{
  from{height:500px; opacity: 100%;}
  to{height:1px; opacity: 0%;}
}

@keyframes proceedClose{
  from{height:75px; font-size: 20px; opacity: 100%;}
  to{height:1px; font-size: 1px; opacity: 0%;}
}


/* BOTTOM HEADER CSS.*/
/* Categories.*/
.topNavBar {
  padding-top:10px;
  color: rgb(18,18,18);
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  height:100%;
  text-align: center;
  padding-left: 30%;  /* use this to center categories! */
  width: 60%;
  padding-right: 0;
  position:relative;
}

.topNavBar li{
  display: inline;
}

.topNavBar a{
  background-color: rgb(25,25,25);
  display: inline-block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  text-decoration: none;
  border-radius:10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin-left: 15px;
  font-size: 30px;
  padding: 5px 5px;
}

.topNavBar a:hover {
  background-color:rgb(50, 50, 50);
}

/* END OF BOTTOM HEADER CSS.*/
/* TITLE */
.title h1{
  font-size:30px;
  margin-top:15px;
}

.TrendingButton {
  display: inline-block;
  border: none;
  background-color: #03DAC5;
  font-size:22px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
  vertical-align: center;
}

.TrendingButton:hover{
  background-color:rgb(45, 45, 45);
}


.FriendButton {
  display: inline-block;
  border: none;
  background-color: #03DAC5;
  font-size:22px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
  vertical-align: center;
}

.FriendButton:hover{
  background-color:rgb(45, 45, 45);
}

/* END OF TITLE */
/* SOCIAL TAB CSS */

.RestaurantReviews {
  width:100%;
  height:100%;
}

.ReviewText {
  background-size: contain;
  color:white;
  vertical-align: top;
}

.socialMenu{
  position: sticky;
  background-color: rgb(18,18,18);
  color: rgb(25,25,25);
  border-radius: 25px;
  list-style-type: none;
  padding: 0;
  overflow-x:hidden;
  float:left;
  overflow-y:scroll;
}

.socialMenu p{
  color:white;
  font-size:30px;
  padding:0px;
  margin: 5px;
}

.socialMenu ul{
  position: sticky;
  top: 0;
  overflow:hidden;
  overflow-y:scroll;
  padding-left: 0;
  padding-top: 0;
  height:95%;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

}


.socialMenu button{
  /*trying to center was weird process. Here is what I went with:*/
  margin: 3px 0px;
  background-color: rgb(25,25,25);
  background-size: contain, cover;
  background-position: center;
  float: none;
  display:inline-block;
  width: 100%;
  height: 9vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  text-shadow: -3px -3px 0 black,
  3px -3px 0 black,
  -3px 3px 0 black,
  3px 3px 0 black,
  -3px 0 0 black,
  3px 0 0 black,
  0 -3px 0 black,
  0 3px 0 black;
  text-decoration: none;
  border-radius: 15px;
}

.socialMenu button:hover{
  opacity: 60%;
}

/* BOTTOM HEADER ENDS.*/
/* FEATURED REVIEW CSS.*/

.featuredReview{
  color: rgb(25,25,25);
  list-style-type: none;
  text-align: center;
}

/* Buttons for changing image.*/
.featuredReviewSideButton{
  background-color: rgb(0,0,0);
  color: white;
  display: inline-block;
  vertical-align: bottom;
  width: 5%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

/* Buttons for changing image.*/
.featuredReviewSideLeftButton{
  background-color: rgb(0,0,0);
  color: white;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 0%;     /* Use this to center.*/
  width: 5%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

.featuredReviewSideButton:hover{
  background-color:rgb(45, 45, 45);
}

.featuredReviewSideLeftButton:hover{
  background-color:rgb(45, 45, 45);
}

/* Big image button.*/
.featuredReviewMain{
  background-color: rgb(0,0,0);
  background-image: url("foodImages/burger/burger5.jpg");
  background-size: contain, cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: -3px -3px 0 black,
  3px -3px 0 black,
  -3px 3px 0 black,
  3px 3px 0 black,
  -3px 0 0 black,
  3px 0 0 black,
  0 -3px 0 black,
  0 3px 0 black;
  display: inline-block;
  width: 55%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

/* End of Featured Review CSS.*/
/* Restaurants / Food Items CSS.*/

.mainMenu h1{
  background-color: rgb(35, 35, 35);
  color: rgba(187,134,252, 200);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  padding: 20px;
  font-size: 35px;
  border-radius: 25px;
  margin-top: 0px;
  padding-left: -5%;
}

.mainMenu h2{
  color: rgba(187,134,252, 200);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  padding: 10px;
  border-radius: 25px;
  margin-top: 0px;
}

.mainMenu ul{
  overflow:hidden;
  overflow-y:scroll;
  height: 85%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;
  list-style: none;
  width: auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* Actual Food and Restaurant Chocies .*/
.mainMenu button{
  background-color: rgb(25,25,25);
  color: white;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: none;
  float: left;
  margin: 5px;
  padding: 15px 30px 15px 30px;
  width: 100%;
  height: 15%;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
  text-align: left;
}

.mainMenu button:hover{
  background-color: rgb(45, 45, 45);
}

.ingredients input, .ingredients label{
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 0px;
  vertical-align:left;
}

.ingredients ul{
  vertical-align:left;
  align-items: left;
}

.ingredients input{
  display: inline-block;
  margin-left:50px;
}


/* END OF MAIN MENU CSS .*/
/* FOOTER CSS .*/

.modal-content {
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
  padding: 60px;
}


.animate {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.modal {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(25,25,25);
  padding: 60px;
}

.modal-content {
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
  padding: 60px;
}

.headerButton {
  border: none;
  background-color: #03DAC5;
  font-size:22px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
}

.cancelButton {
  border: none;
  background-color: rgb(255, 0, 0);
  font-size:22px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
}


#headerButtons{
  color: rgba(187,134,252, 200);

}

.headerButton:hover {
  background-color: rgb(45, 45, 45);
}


.cancelButton:hover {
  background-color: rgba(255, 0, 0, 0.4);
}


/* CART PAGE.*/
.cartHeader {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(187,134,252);
  grid-area: cheader;
}

.acceptButton {
  border: none;
  background-color: #03DAC5;
  font-size:22px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  border-radius: 15px;
  font-weight: bold;
  height: 1%;
}
.acceptButton:hover {
  background-color: rgb(45, 45, 45);
}

.cart1 {
  width: 48%;
  height: 500px;
  float:left;
  border: 1px solid white;
  color: rgb(187,134,252);
  grid-area: cart1;
}

.cart2 {
  width:48%;
  float:left;
  height: 500px;
  border: 1px solid white;
  color: rgb(187,134,252);
  grid-area: cart2;
}

.footerCart {
  bottom: 0;
  width: auto;
  padding: 20px;
  background-color: rgb(25,25,25);
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  grid-area: footer;
}

.footerCart a{

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:white;
  text-decoration: none;

}


p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: large;
}


.left {
  float: left;
}

.right {
  float: right;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(18, 18, 18);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(35, 35, 35);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 45, 45);
}